@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
  color: #333333;
  nav {
    a{
      color: #777777;
      text-decoration: none;
      &:hover {
        color: #5e5e5e;
      }
    }
    background-color: #F8F8F8;
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 16px;
  }

  h2{
    margin-top: 24px;
    font-family: 'Roboto slab', serif;

    .fa, .far{
      font-size: 20px;
    }
  }
  p{
    font-weight:300;
  }

  a{
    color: #337ab7;
    text-decoration: none;
    &:hover{
      color: #23527c;
    }
  }
  .btn{
    border: 1px solid #ADADAD;
    &:hover{
      background-color: #E6E6E6;
    }
  }

  label {
    font-weight: 500;
  }
  abbr{
    display: none;
  }

  #article-content{
    height: 200px;
    margin-bottom: 20px;
    background-color: #FDF6E3;
    color: #586E75;
    .ace_gutter-layer{
      background-color: #FAF1D3;
    }
    .ace_gutter-active-line.ace_gutter-cell {
      background-color: #EDE4C1;
    }
  }
}
